.videoCard {
  width: 270px;
  border: 1px solid #d4d4e3;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background: #fdf9ff;
}
.videoCard:hover {
  transition: 0.5s ease;
  -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.thumbnail {
  height: 140px;
  width: 270px;
}
.info {
  display: flex;
  margin-left: 5px;
  margin-top: 10px;
  padding-right: 30px;
}
.text {
  margin-left: 15px;
  margin-bottom: 10px;
}
.text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}
.avatar {
  width: 30px !important;
  height: 30px !important;
  margin-left: 5px;
}
